<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js">

  {% include head.html %}

  <body>

    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h2 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h2>
        <div class="master-nav">
        <div class="nav">
            <ul class="top-menu">
              <li><a href="/">// HOME</a></li>
              <li><a href="/about">// ABOUT</a></li>
              <li><a href="/archives">// ARCHIVES</a></li>
              <li><a href="/resume">// RESUME</a></li>
              <li><a href="http://arietux.github.io/my-repos/">// REPOSITORIES</a></li>
              <li><a href="http://arietux.github.io/my-gists/">// GISTS</a></li>
            </ul>
        </div>
      </div>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

	  {% include foot.html %}

  </body>
</html>
